$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #A0A5E4;
$color__link-visited: #A0A5E4;
$color__link-hover: #A0A5E4;
$color__text-main: #3E4652;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$dark: rgba(61, 67, 78, 1);
$normal: rgba(85, 94, 109, 1);
$light: rgba(222, 236, 239, 1);
$offwhite: rgba(250, 248, 245, 1);

$font-color: $dark;

$navi-border-color: rgba(255, 255, 255, 0.1);
$navi-bg-color: $normal;
$navi-bg-color-alt: rgba(0, 0, 0, 0.1);