#page {
    margin: 0 auto;
    padding: 0;
}

.home {
    text-align: center;

    #page {
        max-width: 100%;
    }
}

#title {
    height: 100vh;
    background: url(../i/Front-BG.jpg) no-repeat center center;
    background-color: rgba(70,70,70,1);
    background-size: cover;

    img {
        width: 556px;
        height: auto;
        margin-top: 15vw;
    }
}

.nosto {

    text-align: center;
    // display: table;
    // width: 100%;
    // table-layout: fixed;

    .wrapper {
        @include my-clearfix;
        // display: table-cell;
        // vertical-align: middle;
        width: 100%;
        padding: 5% 0;
    }
}

.kuvallinen-nosto {
    @extend .nosto;

    // height: 33vw;
    background-color: rgba(40,40,40,1);
    background-size: cover;
    color: #fff;

    .wrapper {
        padding: 12% 0;
        display: block;
    }

    h2 {
        text-transform: uppercase;
    }

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}

.kategoria-nosto {
    @extend .nosto;
    @include my-clearfix;

    // height: 44vw;
    // max-height: 670px;

    .wrapper {
        @include max-site-wide;

        position: relative;

        > div {
            width: 50%;
            float: left;
            padding: 4rem 8rem;

            &:first-child {
                border-right: 1px solid $grey;
            }
        }

    }

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        right: 7%;
    }

}

.home .content {
    background: $light-grey;

    > div {
        @include max-site-wide;
        padding: 8rem 8rem;
        font-family: 'LancelotPro';
        font-weight: normal;
        text-transform: uppercase;
        font-size: 26px;
    }
}

.float-left {
    float: left;
}

.archive {

    background: $dark-grey;

    &.tax-sarjat {
        background: $purple;
    }

    .page-header {
        // height: 42vw;
        max-height: 600px;
        color: #fff;
        text-align: center;
        padding-top: 10%;
    }
}

.post-type-desc {
    max-width: 800px;
    margin: 3rem auto 5rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid $light-grey;
}

.archive-wrapper {
    @include max-site-wide;
    margin: 0 auto 0;
    text-align: center;
}

.archive article {
    display: inline-block;
    width: 390px;
    margin-right: 10px;

    &:nth-of-type(3n + 3) {
        margin-right: 0;
    }

    a {
        color: #fff;
    }

    .entry-title {
        display: inline-block;
        font-family: $font__bold;
    }
}
