.archive {

    background: $dark;

    &.tax-sarjat {
        // background: $purple;
    }
}

.post-type-desc {
    max-width: 800px;
    margin: 3rem auto 5rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid $light;
}

.archive-wrapper {
    // @include max-site-wide;
    margin: 0 auto 0;
    text-align: center;
}

.archive article {

    margin-bottom: 2em;

    .entry-header {
        text-align: center;
    }

    a {
        color: #fff;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .product-image {
        height: 246px;
        display: block;
        // background: rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 1em;
    }

    .entry-title {
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
}

.only-one article {
    .product-image {
        height: auto;
    }
}