html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

.screen-reader-text {
    @extend .sr-only;
}

.label {
    font-weight: bold;
}

.entry-content {
    font-size: $content_font_size;
    line-height: $content_line_height;

    p {
        margin-top: 0;
    }

    @include breakpoint(0 $screen-md - 1) {
        font-size: 18px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.entry-meta a,
.entry-content a,
.nearest-dist a {
    text-decoration: none;
    border-bottom: 1px solid rgba($font-color, 0.5);
    color: $font-color;
    transition: 0.1s all ease-in-out;

    &:hover {
        text-decoration: none;
        border-color: $font-color;
    }
}

a {
    color: $font-color;
    transition: 0.1s all ease-in-out;

    :hover {
        text-decoration: none;
    }
}