.button {
    border-radius: 6px;
    border: 1px solid #959DB5;
    // font-size: 15px;
    // color: #3E4652;
    line-height: 46px;
    display: inline-block;
    padding: 0 2rem;
    font-size: 16px;
    text-transform: none;
}