.entry-header {
    // height: 42vw;
    // max-height: 600px;
    color: #fff;
    text-align: center;

    @extend .row;

    .single & {
        text-align: left;
        .entry-title {
            margin: 0 0 0.5em;
        }

        .subheader {
            margin-top: 2em;
        }
    }


    .section-title,
    .entry-title {
        font-size: 40px;
        margin-top: 0.25em;

        .page & {
            margin-top: 1em;
        }

        div {
            font-size: 18px;
        }
    }

    .entry-title {
        color: $normal;
    }

    a {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.subheader {
    font-size: 18px;
}