.entry-header {
    // height: 42vw;
    // max-height: 600px;
    color: #fff;
    text-align: center;

    .section-title,
    .entry-title {
        font-size: 60px;
        margin-top: 0.25em;

        div {
            font-size: 18px;
        }
    }

    a img {
        max-width: 100%;
        height: auto;
    }
}

.subheader {
    font-size: 18px;
}