#colophon {
    background: $dark;
    color: #fff;
    height: 100px;
    line-height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    @include breakpoint(0 $screen-md - 1) {
        padding: 0 10px;
    }

    div {
        // display: inline-block;
    }

    a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        position: relative;
        display: inline-block;
        margin-right: 40px;
        vertical-align: middle;

        @include breakpoint(0 $screen-md - 1) {
            margin-right: 20px;
        }

        &:hover {
            color: rgba(255, 255, 255, 1);
        }

        &:first-child {
            background: url(i/honkanen-siluetti-valkoinen.png) no-repeat 0 0;
            background-size: contain;
            width: 22px;
            height: 66px;

            // http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

// @include sticky-footer(100px, "#page", "#content", "#colophon");