#masthead {
    height: 70px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

.site-title {

    line-height: 70px;
    margin: 0 0 0 2rem;
    font-size: 20px;
    font-family: 'LancelotPro';
    font-weight: normal;
    text-transform: uppercase;

        a {
        color: $dark;
        display: inline-block;
        border-bottom: none;
            &:hover {
                text-decoration: none;
            }
    }
}

.home #masthead {
    // background-color: rgba(216,216,216,0.05);
}

.home .site-title {
    opacity: 0;
}

.archive #masthead {
    // background-color: #fff;
}

.site-branding {
    float: left;
}