#masthead {
    height: 70px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);

    body:not(.home) & {
        @include breakpoint( 0 $screen-md - 1px ) {
            margin-left: -10px;
        }
    }
}

.site-title {

    line-height: 1;
    margin: 30px 0 0 2rem;
    font-size: 20px;
    font-family: 'LancelotPro';
    font-weight: normal;
    text-transform: uppercase;

        a {
        color: $dark;
        display: inline-block;
        border-bottom: none;
            &:hover {
                text-decoration: none;
            }
        }

    @include breakpoint( 0 500px ) {
        font-size: 15px;
        max-width: 170px;
        line-height: 1.2;
        margin: 20px 0 0 1rem;
    }

    @include breakpoint( $screen-md ) {
        &:after {
            display: inline-block;
            background: url(i/honkanen-siluetti-tumma.png) no-repeat 0 0;
            height: 56px;
            width: 43px;
            content: '';
            position: absolute;
            background-size: auto 50px;
            top: 10px;
            right: -60px;
        }
    }
}

.home #masthead {
    // background-color: rgba(216,216,216,0.05);
}

.home .site-title {
    opacity: 0;
}

.archive #masthead {
    // background-color: #fff;
}

.site-branding {
    float: left;
    position: relative;
}