#masthead {
    height: 70px;
    position: fixed;
    background-color: rgba(85,94,109,0.2);
    width: 100%;
    z-index: 10;
}

.site-title a {
    color: #fff;
    display: inline-block;
    line-height: 70px;
    margin: 0 0 0 2rem;
    font-size: 20px;
    font-family: 'LancelotPro';
    font-weight: normal;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
    }
}

.home #masthead {
    background-color: rgba(216,216,216,0.05);
}

.home .site-title {
    opacity: 0;
}

.archive #masthead {
    // background-color: #fff;
}

.site-branding {
    float: left;
}