.page-jalleenmyyjat {

    .entry-title {
        margin-bottom: 40px;
    }

    .form-container {
        @extend .col-md-6;
        margin-bottom: 60px;
        form {
            margin-bottom: 2em;
            @extend .hidden-xs;
            @extend .hidden-sm;

            &.mobile {
                @extend .visible-xs;
                @extend .visible-sm;
            }
        }
    }
}

.map-container {
    @extend .col-md-6;
    margin-bottom: 60px;

    .acf-map {
        width: 100%;
        height: 600px;
        border: #ccc solid 1px;
        margin: 0;
    }
}
