.nearest-dist {
    float: right;
    color: $dark;
    text-align: left;
    padding: 0 1em;
    background: $light;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    > span {
        line-height: $navi-height;

        .glyphicon {
            font-size: 30px;
            position: relative;
            top: 10px;
            margin-left: 6px;
        }
    }

    > div {
        display: none;
        transition: all 0.3s ease-in-out;
        position: absolute;
        right: 0;
        top: 70px;
        width: 320px;
        background: $light;
        padding: 1em;

        &.open {
            display: block;
        }

        p {
            opacity: 0.4;
            font-size: 16px;
        }

        a {
            color: $dark;
            display: inline-block;
            padding: 1em 0 0;
        }

        .vcard {
            padding-bottom: 2em;
            border-bottom: 1px solid rgba($dark, 0.1);
        }

        .loader {
            top: -5px;
            position: relative;

            .glyphicon {
                font-size: 30px;
                display: inline-block;
                position: relative;
                bottom: -10px;
                top: auto;
                @include animation(rotate);
                @include animation-duration(3s);
                @include animation-iteration-count(infinite);
            }

            @include keyframes(rotate) {
                from { -webkit-transform: rotateY(0deg) ;}
                to { -webkit-transform: rotateY(-360deg) ;}
            }
        }
    }

    @include breakpoint( 0 $screen-sm - 1px ) {
        width: $navi-height;
        height: $navi-height;
        > span {
            font-size: 0;

            .glyphicon {
                top: 14px;
            }
        }
    }
}