.muut {

    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    // background: $offwhite;

    h2 {
        text-align: center;
        font-weight: normal;
        font-family: LancelotPro;
        text-transform: uppercase;

        .single-suunnittelijat & {
            color: $dark;
        }
    }

    article {

        @extend .col-md-3;

        // padding: 0 1em;

        text-align: left;

        a {

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .entry-header {
            text-align: center;

            a {
                color: $dark;
                font-size: 14px;
            }

            .entry-title {
                margin: 0;
                font-size: 14px;
            }
        }

        .entry-title {
            display: inline-block;
            font-size: 18px;
            font-weight: normal;

            .single-suunnittelijat & {
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                font-weight: normal;
                margin-top: -1em;

                a {
                    color: white;
                }
            }
        }

        .product-image {
            height: 183px;
            display: block;
            background: rgba(255, 255, 255, 0.1);
        }
    }
}