.main-navigation {
    display: block;
    float: right;
    text-align: left;
    position: relative;

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            // float: left;
            position: absolute;
            top: 70px;;
            left: -999em;
            z-index: 99999;
            width: 100%;
            padding: 1rem 0 2rem;

            ul {
                position: static;
                padding-bottom: 0;

                a {
                    color: white;
                }
            }

            li {
                float: none;

                &:hover > ul {
                    left: 100%;
                }
            }

            a {
                color: white;
                line-height: 2;
            }

            :hover > a {
            }

            a:hover {
            }
        }

        li:hover > ul {
            left: 0;
            background: $normal;
        }
    }
    li {
        float: left;

        &:hover {
            background: $normal;
        }
    }
    a {
        display: block;
        text-decoration: none;
        padding: 0 3rem;
        line-height: 70px;
        color: $dark;
        border-bottom: none;

        &:hover,
        &:hover a {
            color: white;
        }
    }

    a[href="#"] {
        color: white;
        font-size: 14px;
    }

    li.cpt a {
        font-size: 21px;
        font-weight: bold;
        line-height: 2;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a {
        color: white;
    }

    li.sarjat,
    #menu-item-30 {
        background: $dark;
    }
}

// .home .main-navigation a,
// .archive .main-navigation a {
//     color: $dark;
// }

/* Small menu */
.menu-toggle {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }

    .main-navigation ul {
        display: none;
    }
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}