.main-navigation {
    display: block;
    float: right;
    text-align: left;
    position: relative;

    a {
        display: block;
        text-decoration: none;
        padding: 0 3rem;
        line-height: $navi-height;
        color: $dark;
        border-bottom: none;
        transition: none;
    }

    .active,
    .active-parent {

        background: $dark;

        > a {
            color: white;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            // float: left;
            position: absolute;
            top: $navi-height;
            left: -999em;
            z-index: 99999;
            width: 100%;
            padding: 0;

            ul {
                position: static;
                padding-bottom: 0;

                li {

                    background: rgba(0, 0, 0, 0.1);

                    a {
                        color: white;
                    }
                }
            }

            li {
                float: none;

                a:hover {
                    background: $dark;

                    > ul {
                        left: 100%;
                    }
                }
            }

            a {
                color: white;
                line-height: 2.5;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
            }

            // kolmannen tason ul
            ul a {
                border-top: none;
                padding-left: 4rem;
            }
        }

        li:hover > ul {
            left: 0;
            background: $normal;
        }
    }
    li {
        float: left;

        &:hover {
            background: $normal;

            > a {
                color: white;
            }
        }

        a:hover {
            color: white;
        }
    }
}

// .home .main-navigation a,
// .archive .main-navigation a {
//     color: $dark;
// }

/* Small menu */
.menu-toggle {
    display: none;
}

@include breakpoint( 0 $screen-md - 1px ) {

    .main-navigation {
        // background: $normal;
        height: $navi-height;
    }

    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }

    .main-navigation ul {
        display: none;
    }

    .menu-toggle {
        width: $navi-height;
        height: $navi-height;
        position: relative;
        display: block;
        padding: 23px 20px;
        margin: 0 auto;
        cursor: pointer;

        .burger-icon {
            @include burger(28px, 3px, 5px, $normal);
        }
    }

    .main-navigation.is-active {
        .burger-icon {
            @include burger-to-cross;
        }

        .menu-paanavigaatio-container {
            display: block;
            position: absolute;
            width: 220px;
            right: -$navi-height;
            height: calc(100vh - #{$navi-height});
            overflow-y: scroll;

            .menu {
                display: block;
                background: $normal;

                > li > a {
                   line-height: 3;
                   opacity: 0.25;
                }

                .sub-menu {

                    .sub-menu {
                        display: none;
                    }

                    .has-children {
                        > a:after {
                            content: '›';
                            position: absolute;
                            color: white;
                            right: 20px;
                            transition: all 0.1s ease-in;
                            transform: rotate(90deg);
                        }

                        &.is-open {
                            > a:after {
                                transform: rotate(-90deg);
                            }
                            .sub-menu {
                                display: block;
                            }
                        }
                    }
                }
            }

            li {
                float: none;

                &:hover,
                &.active-parent {
                    background: $normal;
                    > ul {
                        background: $normal;
                    }
                }
                &.active {
                    background: $dark;
                }
            }

            > li > a {
                font-size: 0;
                height: 0;
            }

            a {
                color: white;
            }

            .sub-menu {
                position: static;
                display: block;

                > li {
                    > a {
                        padding-left: 3.5rem;
                    }
                    > .sub-menu > li > a {
                        padding-left: 4rem;
                    }
                }
            }
        }
    }
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    // transition: transform 200ms linear!important;
    @include transition(all 200ms linear);

}
.headroom--pinned {
    @include transform(translateY(0%));
}
.headroom--unpinned {
    @include transform(translateY(-100%));
}