.main-navigation {
    display: block;
    float: right;
    text-align: left;
    position: relative;

    a {
        display: block;
        text-decoration: none;
        padding: 0 3rem;
        line-height: 70px;
        color: $dark;
        border-bottom: none;
    }

    a[href="#"] {
        color: white;
        font-size: 14px;
    }

    // li.cpt a {
    //     font-size: 21px;
    //     font-weight: bold;
    //     line-height: 2;
    // }

    .active,
    .active-parent {

        background: $dark;

        > a {
            color: white;
        }
    }

    // li.sarjat,
    // #menu-item-30 {
    //     background: $dark;
    // }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            // float: left;
            position: absolute;
            top: 70px;;
            left: -999em;
            z-index: 99999;
            width: 100%;
            padding: 0;

            ul {
                position: static;
                padding-bottom: 0;

                li {

                    background: rgba(0, 0, 0, 0.1);

                    a {
                        color: white;
                    }
                }
            }

            li {
                float: none;

                a:hover {
                    background: $dark;

                    > ul {
                        left: 100%;
                    }
                }
            }

            a {
                color: white;
                line-height: 2.5;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
            }
        }

        li:hover > ul {
            left: 0;
            background: $normal;
        }
    }
    li {
        float: left;

        &:hover {
            background: $normal;

            > a {
                color: white;
            }
        }

        a:hover {
            color: white;
        }
    }
}

// .home .main-navigation a,
// .archive .main-navigation a {
//     color: $dark;
// }

/* Small menu */
.menu-toggle {
    display: none;
}

@include breakpoint( 0 $screen-sm - 1px ) {

    .main-navigation {
        // background: $normal;
        height: $navi-height;
    }

    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }

    .main-navigation ul {
        display: none;
    }

    .menu-toggle {
        width: $navi-height;
        height: $navi-height;
        position: relative;
        display: block;
        padding: 23px 20px;
        margin: 0 auto;
        cursor: pointer;

        .burger-icon {
            @include burger(28px, 3px, 5px, $normal);
        }
    }

    .main-navigation.is-active {
        .burger-icon {
            @include burger-to-cross;
        }

        .menu {
            display: block;
            position: absolute;
            background: $dark;
            width: 220px;
            right: -$navi-height;

            li {
                float: none;
            }

            > li > a {
                font-size: 0;
                height: 0;
            }

            a {
                color: white;
            }

            .sub-menu {
                position: static;
                display: block;
            }
        }

    }
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}