.nosto {

    text-align: center;
    // display: table;
    // width: 100%;
    // table-layout: fixed;

    .wrapper {
        @include clearfix;
        // display: table-cell;
        // vertical-align: middle;
        width: 100%;
        padding: 5% 0;
    }
}

.kuvallinen-nosto {
    @extend .nosto;

    // height: 33vw;
    background-color: rgba(40,40,40,1);
    background-size: cover;
    color: #fff;

    .wrapper {
        padding: 12% 0;
        display: block;
        background: rgba(85, 94, 109, 0.4);
        transition: all 0.3s ease-in-out;

        &:hover {
            background: rgba(85, 94, 109, 0.1);
        }
    }

    h2 {
        text-transform: uppercase;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.kategoria-nosto {
    // @extend .nosto;
    @include clearfix;

    padding: 5% 0;
    text-align: left;

    // height: 44vw;
    // max-height: 670px;

    // &:nth-of-type(odd) {
    //     .wrapper {
    //          > div {
    //             @extend .col-sm-6;
    //             @extend .col-sm-offset-6;
    //         }
    //     }
    // }

    .wrapper {
        @extend .container;
        position: relative;

        .left {
            @extend .col-sm-6;

            &:first-child {
                border-right: 1px solid $dark;
            }

            @include breakpoint($screen-md) {
                padding: 4rem 8rem;
            }
        }

        .right {
            position: relative;
            @extend .col-sm-6;
            @include breakpoint($screen-md) {
                padding-top: 25%;
            }
        }

    }

    &.even {
       .wrapper {
            .left {
                @extend .col-sm-push-6;
                &:first-child {
                    border-right: none;
                    border-left: 1px solid $dark;
                }
            }
            .right {
                @extend .col-sm-pull-6;
            }
        }
    }

    .description {
        margin-bottom: 2em;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;

        @include breakpoint($screen-md) {
            max-width: 400px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 7%;
        }
    }

}



.kategoria-nosto .section-title {
    font-size: 38px;
    margin: 0 0 0.5em;
}