.nosto {

    text-align: center;
    // display: table;
    // width: 100%;
    // table-layout: fixed;

    .wrapper {
        @include clearfix;
        // display: table-cell;
        // vertical-align: middle;
        width: 100%;
        padding: 5% 0;
    }
}

.kuvallinen-nosto {
    @extend .nosto;

    // height: 33vw;
    background-color: rgba(40,40,40,1);
    background-size: cover;
    color: #fff;

    .wrapper {
        padding: 12% 0;
        display: block;
        background: rgba(85, 94, 109, 0.4);
        transition: all 0.3s ease-in-out;

        &:hover {
            background: rgba(85, 94, 109, 0.1);
        }
    }

    h2 {
        text-transform: uppercase;
    }

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}

.kategoria-nosto {
    // @extend .nosto;
    @include clearfix;

    padding: 5% 0;
    text-align: left;

    // height: 44vw;
    // max-height: 670px;

    .wrapper {
        @extend .container;
        position: relative;

        > div {
            @extend .col-sm-6;
            // width: 50%;
            // float: left;
            padding: 4rem 8rem;

            &:first-child {
                border-right: 1px solid $grey;
            }
        }

    }

    .desctription {
        margin-bottom: 2em;
    }

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        right: 7%;
    }

}

.kategoria-nosto .section-title {
    font-size: 38px;
    margin: 0 0 0.5em;
}