body.page {
    background: $offwhite;

    article.page {
        @extend .col-md-offset-2;
        @extend .col-md-8;
    }

    &.page-hautaustoimistot article.page {
        @extend .col-md-offset-0;
        @extend .col-md-12;
    }

    .entry-header {
        color: $dark;
    }
}

.page-sarjat article.page {
    border-bottom: 1px solid;
}
