.single:not(.single-suunnittelijat) {
    // background: $dark;

    .entry-header {
        color: $dark;
    }

    .entry-meta {
        @extend .row;

        border-top: $light 1px solid;
        border-bottom: $light 1px solid;
        margin: 0;
        padding: 3em 0;

        > div {
            @extend .col-md-6;

            .meta-item {

                margin-bottom: 1em;
                clear: left;
                text-align: left;
                overflow: hidden;

                .label {
                    float: left;
                    width: 80px;
                    margin-right: 3em;
                    clear: left;

                }

                > * {
                    float: left;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                &.materiaalit {
                    margin-bottom: 2em;
                }

            }

        }

        > div:first-of-type {
        }

    }
}