.vcard {

    .name {
        font-size: 16px;
        margin-bottom: 0.5em;
    }

    .address {
        margin-bottom: 0.5em;
    }

    .email {

    }

    .phone {

    }

    .website {
        margin-top: 0.5em;
    }
}